* {
    margin: 0;
    padding: 0;
  }
  body {
    background-color: rgb(7, 7, 68);
    color: white;
    font-family: sans-serif;
  }

  nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 70px;
    background-color: rgb(17, 17, 115);
  }

  nav ul {
    display: flex;
    justify-content: center;
  }

  nav ul li {
    list-style: none;
    margin: 0 23px;
  }
  nav ul li a {
    font-family: "Times New Roman", Times;
    font-size: 1.2rem;
    text-decoration: none;
    color: white;
  }
  nav ul li a:hover {
    color: rgb(82, 82, 240);
    font-size: 1.5rem;
  }
  main hr {
    border: 0;
    background: rgb(124, 57, 186);
    height: 1.2px;
    margin: 40px 80px;
  }
  .thirdhr {
    border: 0;
    background: rgb(124, 57, 186);
    height: 1.5px;
    margin: 50px 80px;
  }
  .left {
    font-size: 2rem;
    font-family: fantasy;
  }
  .firstSection {
    display: flex;
    justify-content: space-around;
    margin: 60px 0;
  }
  .firstSection > div {
    width: 35%;
  }
  .leftSection {
    margin: 60px 20px;
    font-size: 3rem;
  }
  .leftSection .buttons {
    padding: 15px;
  }
  .leftSection .btn {
    padding: 10px;
    background: blueviolet;
    color: white;
    border: 2px solid white;
    border-radius: 20px;
    font-size: 15px;
    cursor: pointer;
  }
  .rightSection {
  }
  .rightSection img {
    width: 70%;
    margin: 10px 80px;
  }
  .purple {
    color: rgb(158, 87, 224);
  }
  .text-gray {
    color: gray;
  }
  #element {
    color: rgb(158, 87, 224);
    font-family: fantasy;
  }
  .secondSection {
    max-width: 80vw;
    margin: auto;
    height: 100vh;
  }
  .secondSection h1 {
    font-size: 1.8rem;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  }
  .secondSection .box {
    background: white;
    width: 80vw;
    height: 2px;
    margin: 65px 0;
    display: flex;
  }
  .secondSection .vertical {
    height: 93px;
    width: 1px;
    background-color: white;
    margin: 0 140px;
  }
  .image-top {
    width: 96px;
    position: relative;
    top: -68px;
    left: -45px;
  }
  .vertical-title {
    color: rgb(158, 87, 224);
    position: relative;
    top: 20px;
    width: 290px;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    font-size: 23px;
  }
  .vertical-desc {
    position: relative;
    top: 28px;
    color: gray;
    width: 150px;
    font-size: 15px;
    font-family: "Times New Roman", Times, serif;
    cursor: pointer;
  }
  .vertical-desc :hover {
    color: red;
    font-size: 17px;
  }
  .float{
    float: left;
  }
  .html{
    width: 30%;
    margin-top: 220px;
    margin-left: 70px;
  }
  .mern{
    width: 60%;
    margin-top: -300px;
    margin-left: 440px;
  }
 

  .thirdSection {
    max-width: 80vw;
    margin: auto;
    height: 130vh;
  }
  .thirdSection img {
    box-shadow: 0 0 8px 8px white inset;
  }
  footer {
    background-color: rgb(3, 3, 43);
  }
  .footer {
    display: flex;
    padding: 23px 122px;
    justify-content: space-evenly;
  }
  .footer ul {
    list-style: none;
  }
  .footer > div {
    width: 300px;
  }
  footer .footer-text-centre {
    text-align: center;
    color: gray;
    padding: 12px 0;
  }
  /* Style all font awesome icons */
  .fa {
    padding: 20px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
  }

  /* Add a hover effect if you want */
  .fa:hover {
    opacity: 0.7;
  }
  .fa-linkedin {
    background: #007bb5;
    color: white;
  }
  .fa-facebook {
    background: #3b5998;
    color: white;
  }
  .fa-twitter {
    background: #55acee;
    color: white;
  }
  .fa-instagram {
    background: #fcaf45;
    color: white;
  }